node-red/flows.json
[{"id":"34e33642.9a5ada","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e3664ed.d58f0c","type":"server","z":"","name":"Home Assistant"},{"id":"46b3b473.d39fec","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"b89d7995.e2e7b8","type":"server-state-changed","z":"34e33642.9a5ada","name":"TV","server":"46b3b473.d39fec","version":1,"entityidfilter":"media_player.vizio_smartcast","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":180,"wires":[["52684159.3b7ec"]]},{"id":"52684159.3b7ec","type":"switch","z":"34e33642.9a5ada","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":180,"wires":[["df435495.02c318"],["c75a5c5b.96c99"]]},{"id":"c75a5c5b.96c99","type":"api-call-service","z":"34e33642.9a5ada","name":"TV Ambilight OFF","server":"46b3b473.d39fec","version":1,"service_domain":"light","service":"turn_off","entityId":"light.tv_ambilight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":220,"wires":[[]]},{"id":"df435495.02c318","type":"api-call-service","z":"34e33642.9a5ada","name":"TV Ambilight ON","server":"46b3b473.d39fec","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tv_ambilight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":140,"wires":[[]]},{"id":"d52d019a.92ddd","type":"bigtimer","z":"34e33642.9a5ada","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Kitchen lights timer","comment":"Dawn - 1145pm","lat":"37.78368","lon":"-122.41274","starttime":"420","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"","outtext2":"","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":170,"y":340,"wires":[["a0303555.1c9a78"],[],["8b6ae391.465ff"]]},{"id":"a0303555.1c9a78","type":"switch","z":"34e33642.9a5ada","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":320,"wires":[["4efb2e4.e0895d"],["bec40c34.78efc"]]},{"id":"4efb2e4.e0895d","type":"api-call-service","z":"34e33642.9a5ada","name":"Turn Counter Light On","server":"46b3b473.d39fec","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.etekcity_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":280,"wires":[[]]},{"id":"bec40c34.78efc","type":"api-call-service","z":"34e33642.9a5ada","name":"Turn Counter Light Off","server":"46b3b473.d39fec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.etekcity_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":360,"wires":[[]]},{"id":"8ee4bc6a.0fda4","type":"bigtimer","z":"34e33642.9a5ada","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Couch Light timer","comment":"","lat":"37.78368","lon":"-122.41274","starttime":"5004","endtime":1425,"starttime2":"0","endtime2":0,"startoff":"-60","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":170,"y":500,"wires":[["3dc0221c.8354be"],[],["370e3f16.f5026"]]},{"id":"3dc0221c.8354be","type":"switch","z":"34e33642.9a5ada","name":"Is on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":480,"wires":[["7470ad8f.346414","a315c63f.3f7338"],["37728afe.4cd0c6"]]},{"id":"7470ad8f.346414","type":"api-call-service","z":"34e33642.9a5ada","name":"Turn Couch Light On","server":"46b3b473.d39fec","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.etekcity_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":440,"wires":[[]]},{"id":"37728afe.4cd0c6","type":"api-call-service","z":"34e33642.9a5ada","name":"Turn Counter Light Off","server":"46b3b473.d39fec","version":"1","service_domain":"switch","service":"turn_off","entityId":"switch.etekcity_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":560,"wires":[[]]},{"id":"8b6ae391.465ff","type":"debug","z":"34e33642.9a5ada","name":"Kitchen timer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":380,"wires":[]},{"id":"370e3f16.f5026","type":"debug","z":"34e33642.9a5ada","name":"Couch timer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":540,"wires":[]},{"id":"a315c63f.3f7338","type":"api-call-service","z":"34e33642.9a5ada","name":"Turn Couch Light On (2)","server":"46b3b473.d39fec","version":"1","service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":500,"wires":[[]]},{"id":"a243c46d.0eaaf8","type":"server-state-changed","z":"34e33642.9a5ada","name":"RPi Power Status","server":"46b3b473.d39fec","version":1,"entityidfilter":"sensor.rpi_power_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"XXX","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":160,"y":100,"wires":[["e47cbdca.71017"],[]]},{"id":"e47cbdca.71017","type":"debug","z":"34e33642.9a5ada","name":"Power status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":80,"wires":[]},{"id":"ed342556.29cb78","type":"amazon-echo-device","z":"34e33642.9a5ada","name":"Work Light","topic":"","x":470,"y":660,"wires":[["537358b5.241608"]]},{"id":"537358b5.241608","type":"debug","z":"34e33642.9a5ada","name":"Alexa","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":660,"wires":[]},{"id":"4ab447ea.9c1628","type":"amazon-echo-hub","z":"34e33642.9a5ada","port":"80","x":230,"y":660,"wires":[["ed342556.29cb78"]]}]